{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],

  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [ "./babel-scripts/remove-scss-imports.js" ]
    }
  }
}
